@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #be4bdb;
  --primary-bg-color: #cc5de8;
  --primary-text-color: #333;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* height: 100vh;
  height: -webkit-fill-available;
  height: -moz-available; */
  height: 100vh;
}

body,
#root {
  font-family: "Mulish", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  /* height: 100vh;
  
  height: -moz-available; */
  height: 100vh;
  position: relative;
}

body.hide-scroll {
  overflow: hidden;
}

/*Mobile Button*/
.btn-mobile {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  position: fixed;
}

.icon-mobile {
  height: 5.8rem;
}

.icon-mobile[name="menu-outline"] {
  color: #fff;
}

.icon-mobile[name="close-outline"] {
  display: none;
  outline: none;
}

/*Header style*/
.header {
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100svh;
  height: -webkit-fill-available;
  background-image: linear-gradient(rgba(34, 34, 34, 1), rgba(34, 34, 34, 0.5)),
    url(../public/img/ME04.webp);
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  height: 8rem;
}

.header nav h1 a:link,
.header nav h1 a:visited {
  font-family: "Montserrat";
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.header nav .main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.lang-btn {
  color: inherit;
  text-decoration: none;
  background-color: #fff;
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 0.5rem;
  font-weight: 600;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}

.header nav .main-nav ul {
  list-style: none;
  display: flex;
  gap: 3.6rem;
}

.header nav .main-nav ul li {
  text-decoration: none;
}

.header nav .main-nav ul li a:link,
.header nav .main-nav ul li a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: capitalize;
  transition: all 0.3s;
  font-weight: 500;
}

.header nav .main-nav ul li a:link,
.header nav .main-nav ul li a:visited {
  color: #fff;
}

.header nav .main-nav ul li a:hover,
.header nav .main-nav ul li a:active {
  color: var(--primary-color);
}

.logo {
  height: 4rem;
}

.logo-icons:link,
.logo-icons:visited {
  text-decoration: none;
}

.logo-black {
  display: none;
}

.social-icon {
  height: 4rem;
  fill: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  position: absolute;
  transition: fill 0.3s ease;
}

.social-icon:hover {
  fill: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.lin {
  left: 50%;
  top: -25%;
  transform: translateX(-50%);
}

.fb {
  left: -25%;
  top: 50%;
  transform: translateY(-50%);
}

.in {
  right: -25%;
  top: 50%;
  transform: translateY(-50%);
}

.tw {
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.gt {
  top: 0%;
  right: 0%;
  transform: translate(50%, -50%);
}

/*
@keyframes ln {
  0% {
    top: -20%;
  }

  50% {
    top: -30%;
  }

  100% {
    top: -20%;
  }
}

@keyframes fb {
  0% {
    left: -20%;
  }

  50% {
    left: -30%;
  }

  100% {
    left: -20%;
  }
} 

@keyframes in {
  0% {
    right: -20%;
  }

  50% {
    right: -30%;
  }

  100% {
    right: -20%;
  }
}

@keyframes tw {
  0% {
    top: 6%;
    left: 6%;
  }

  50% {
    top: 0%;
    left: 0%;
    
  }

  100% {
    top: 6%;
    left: 6%;
    
  }
} 

@keyframes gt {
  0% {
    top: 6%;
    right: 6%;
  }

  50% {
    top: 0%;
    right: 0%;
  }

  100% {
    top: 6%;
    right: 6%;
  }
} */

.hero-img {
  position: relative;
}

.header .hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  padding: 4rem;
}

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.header .hero h1 {
  font-size: 4.3rem;
  font-family: "Montserrat";
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}

.header .hero h1 span {
  color: var(--primary-color);
}

.header .hero img {
  height: 23rem;
  border-radius: 999px;
  border: 7px solid rgba(0, 0, 0, 0.3);
  position: relative;
}

.wavy {
  color: #fff;
  font-family: inherit;
  font-size: 2rem;
}

.scroll-btn {
  position: absolute;
  height: 5rem;
  width: 3rem;
  border: 2px solid #ffffff;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 3rem;
  border-radius: 3rem;
  text-decoration: none;
}

.scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 0.9rem;
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: move-down 1.5s infinite;
}

@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(2.2rem);
    opacity: 0;
  }
}

/*About me*/
.section {
  padding: 10rem;
  max-width: 140rem;
  margin: 0 auto;
  transition: transform 1s, opacity 1s;
}

.section .title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Poppins";
  margin-bottom: 1rem;
}

.section h2 {
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 800;
  font-family: "Poppins";
  margin-bottom: 7rem;
}

.section .section-content .img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.section .section-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.section .section-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 5rem;
}

.section .section-content .details .btn,
.btn {
  background-color: var(--primary-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

.section .section-content .details .btn:hover,
.btn:hover {
  background-color: var(--primary-bg-color);
}

.section .section-content .details h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 800;
  margin-bottom: 3rem;
  line-height: 1.2;
}

.section .section-content .details p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.section .section-content .details h3 span,
.section .section-content .details p span {
  color: var(--primary-color);
}

.section .section-content .details .infos {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.infos-left,
.infos-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section .section-content .details .infos span {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.one-info {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.section .section-content .details .infos span a:link,
.section .section-content .details .infos span a:visited {
  text-decoration: none;
  color: inherit;
}

.section .section-content .details .infos .icon {
  height: 2.5rem;
  color: var(--primary-color);
}

/*skills*/
.bg-color {
  background-color: #f9f9f9;
}

.section .section-content-skills {
  text-align: center;
}

.section .section-content-skills span {
  cursor: pointer;
}

.section .section-content-skills span:hover img {
  transform: translateY(-10px);
}

.section .section-content-skills span img {
  height: 12rem;
  transition: transform 0.3s ease;
}

.section .section-content-skills span p {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 600;
}

.section .section-content-skills .skills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 4rem;
}

.section .section-content-skills .skills h2,
.section .section-content-skills .skills-02 h2,
.section .section-content-skills .skills-01 h2 {
  position: relative;
  grid-column: 1/-1;
}

.section .section-content-skills .skills-02 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
}

.section .section-content-skills .skills-01 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section .section-content-skills .skills-02 h2,
.section .section-content-skills .skills-01 h2,
body > section.bg-color > div > div > div:nth-child(3) > h2 {
  margin-top: 7rem;
}

.section .section-content-skills .skills h2,
.section .section-content-skills .skills-02 h2,
.section .section-content-skills .skills-01 h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  color: inherit;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 15rem max-content 15rem;
  grid-template-rows: 2.7rem 0;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.section .section-content-skills .skills h2::after,
.section .section-content-skills .skills h2::before,
.section .section-content-skills .skills-02 h2::after,
.section .section-content-skills .skills-02 h2::before,
.section .section-content-skills .skills-01 h2::after,
.section .section-content-skills .skills-01 h2::before {
  content: " ";
  display: block;
  border-bottom: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-bg-color);
  height: 5px;
  background-color: #f8f8f8;
}

#skills > div > div > div.skills-01 > h2 {
  grid-template-columns: 9rem max-content 9rem;
}

/*Projects*/

.section .section-content-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.section .section-content-projects .element {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all 0.3s;
}

.section .section-content-projects .element:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.section .section-content-projects img {
  width: 100%;
  height: fit-content;
  margin-bottom: 2rem;
}

.section .section-content-projects .project-content {
  padding: 0rem 2rem;
}

.section .section-content-projects .project-content .title-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section .section-content-projects .project-content span {
  font-size: 1.4rem;
  font-weight: 800;
  padding: 0.5rem 1rem;
  border-radius: 555px;
  text-transform: uppercase;
}

.done {
  background-color: #51cf66;
}

.in-progress {
  background-color: #fcc419;
}

.section .section-content-projects .project-content h3 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.section .section-content-projects .element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section .section-content-projects .element a:link,
.section .section-content-projects .element a:visited {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 1.6rem;
  color: inherit;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--primary-color);
  padding: 2rem;
}

.section .section-content-projects .element .more-icon {
  height: 2rem;
  margin-left: 0.5rem;
}

/*Contact*/

.section .section-content-contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section .section-content-contact-us .left-contact-su .us-line .icon-us {
  height: 3rem;
  width: 3rem;
  stroke-width: 1.5;
  color: #f1f3f5;
}

.section .section-content-contact-us .left-contact-su .us-line .icon-us-media {
  height: 3rem;
  width: 3rem;
  fill: #f1f3f5;
  stroke-width: 0.3;
}

.section .section-content-contact-us .left-contact-su {
  padding: 3rem;
  font-size: 1.8rem;
  color: #fff;
  position: relative;
}

.section .section-content-contact-us .left-contact-su .wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.section .section-content-contact-us .left-contact-su .ln {
  margin-bottom: 3rem;
}

.section .section-content-contact-us .left-contact-su .ln:nth-child(3) {
  margin-bottom: 8rem;
}

.section .section-content-contact-us .left-contact-su .phone {
  color: #f1f3f5;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: inherit;
}

.section .section-content-contact-us .left-contact-su .us-line {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
}

.section .section-content-contact-us .left-contact-su {
  background-color: var(--primary-color);
}

.social-links-contact {
  list-style: none;
  display: flex;
  gap: 2rem;
  position: relative;
  z-index: 10;
}

.social-links-contact a:link,
.social-links-contact a:visited {
  height: 3rem;
}

.social-links-contact .social-icon-contact {
  height: 3rem;
  fill: #f1f3f5;
}

.section .section-content-contact-us .right-contact-su {
  padding: 3rem;
  background-color: #fff;
}

.section .section-content-contact-us .right-contact-su form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section .section-content-contact-us .right-contact-su form input,
.section .section-content-contact-us .right-contact-su form textarea {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #f9f9f9;
  border: none;
  color: inherit;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  margin-bottom: 2rem;
  transition: all 0.2s;
}

.section .section-content-contact-us .right-contact-su form input::placeholder,
.section
  .section-content-contact-us
  .right-contact-su
  form
  textarea::placeholder {
  text-transform: capitalize;
}

.section .section-content-contact-us .right-contact-su form textarea {
  resize: vertical;
  min-height: 100px;
}

.section .section-content-contact-us .right-contact-su form input:focus,
.section .section-content-contact-us .right-contact-su form textarea:focus {
  border-bottom-color: var(--primary-color);
}

/*Footer*/

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  color: inherit;
  text-align: center;
  line-height: 1.3;
}

.section-footer {
  padding: 7rem 10rem !important;
}

.copyright .copy-left a:link,
.copyright .copy-left a:visited {
  text-decoration: none;
  color: inherit;
}

.copy-right .social-links-contact .social-icon-contact {
  fill: #767676 !important;
  transition: all 0.3s !important;
}

.copy-right .social-links-contact .social-icon-contact:hover {
  fill: #939393 !important;
}

.sticky {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 10%);
  top: 0;
  bottom: 0;
  background-size: cover;
  z-index: 999999;
  transition: all 0.5s;
}

.sticky .main-nav ul li a:link,
.sticky .main-nav ul li a:visited,
.sticky h1 a:link,
.sticky h1 a:visited {
  color: #333 !important;
}

.sticky .main-nav ul li a:hover,
.sticky .main-nav ul li a:active {
  color: var(--primary-color) !important;
}

.sticky .logo-black {
  display: block;
}

.sticky .logo-white {
  display: none;
}

.sticky .burger span {
  background-color: #333 !important;
}

.sticky .lang-btn {
  border: 1px solid #333;
}

/*loader*/
.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);
  z-index: 999999999999;
  width: 20rem;
  height: 30rem;
  background-color: #fff;
  overflow: hidden !important;
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 999999999999;
  overflow: hidden !important;
}

#outline {
  stroke-dasharray: 2.42777px, 242.77666px;
  stroke-dashoffset: 0;
  -webkit-animation: anim 1.6s linear infinite;
  animation: anim 1.6s linear infinite;
}

@-webkit-keyframes anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }

  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }

  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}

@keyframes anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }

  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }

  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}

/*language switcher*/
.burger {
  position: relative;
  width: 30px;
  height: 26px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 2px;
  left: 5px;
  background: #333;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
  background: #333;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 23px;
  left: 5px;
  background: #333;
}
