@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #be4bdb;
  --primary-bg-color: #cc5de8;
  --primary-text-color: #333;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: 5px solid rgba(190, 75, 189, 0.3);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  height: -webkit-fill-available;
}

body,
#root {
  font-family: "Mulish", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  height: -webkit-fill-available;
  position: relative;
}

/*Header style*/
.header {
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
  background-image: linear-gradient(rgba(34, 34, 34, 1), rgba(34, 34, 34, 0.5)),
    url(../public/img/Me.webp);
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  height: 8rem;
}

.header nav h1 a:link,
.header nav h1 a:visited {
  font-family: "Montserrat";
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.header nav .main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.lang-btn:link,
.lang-btn:visited {
  color: inherit;
  text-decoration: none;
  background-color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0.8rem;
  font-weight: 800;
  transition: all 0.3s;
}

.lang-btn:hover,
.lang-btn:active {
  background-color: var(--primary-color);
  color: #fff;
  border-color: #fff;
}

.header nav .main-nav ul {
  list-style: none;
  display: flex;
  gap: 3.6rem;
}

.header nav .main-nav ul li {
  text-decoration: none;
}

.header nav .main-nav ul li a:link,
.header nav .main-nav ul li a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: capitalize;
  transition: all 0.3s;
  font-weight: 500;
}

.header nav .main-nav ul li a:link,
.header nav .main-nav ul li a:visited {
  color: #fff;
}

.header nav .main-nav ul li a:hover,
.header nav .main-nav ul li a:active {
  color: var(--primary-color);
}

.logo {
  height: 4rem;
}

.logo-icons:link,
.logo-icons:visited {
  text-decoration: none;
}

.logo-black {
  display: none;
}

.social-icon {
  height: 4rem;
  fill: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  position: absolute;
  transition: fill .3s ease;
}

.social-icon:hover{
  fill: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.ln {
  left: 50%;
  top: -25%;
  transform: translateX(-50%);
  animation: ln 3s ease-out infinite;
}

.fb {
  left: -25%;
  top: 50%;
  transform: translateY(-50%);
  animation: fb 3s ease-out infinite;
}

.in {
  right: -25%;
  top: 50%;
  transform: translateY(-50%);
  animation: in 3s ease-out infinite;
}

.tw {
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  animation: tw 3s ease-out infinite;
}


.gt {
  top: 0%;
  right: 0%;
  transform: translate(50%, -50%);
  animation: gt 3s ease-out infinite;
}

/*
@keyframes ln {
  0% {
    top: -20%;
  }

  50% {
    top: -30%;
  }

  100% {
    top: -20%;
  }
}

@keyframes fb {
  0% {
    left: -20%;
  }

  50% {
    left: -30%;
  }

  100% {
    left: -20%;
  }
} 

@keyframes in {
  0% {
    right: -20%;
  }

  50% {
    right: -30%;
  }

  100% {
    right: -20%;
  }
}

@keyframes tw {
  0% {
    top: 6%;
    left: 6%;
  }

  50% {
    top: 0%;
    left: 0%;
    
  }

  100% {
    top: 6%;
    left: 6%;
    
  }
} 

@keyframes gt {
  0% {
    top: 6%;
    right: 6%;
  }

  50% {
    top: 0%;
    right: 0%;
  }

  100% {
    top: 6%;
    right: 6%;
  }
} */

.hero-img {
  position: relative;
}

.header .hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  padding: 4rem;
  animation: moveToTop 0.5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.header .hero h1 {
  font-size: 4.3rem;
  font-family: "Montserrat";
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}

.header .hero h1 span {
  color: var(--primary-color);
}

.header .hero img {
  height: 23rem;
  border-radius: 999px;
  border: 7px solid rgba(0, 0, 0, 0.3);
  position: relative;
}

.wavy {
  color: #fff;
  font-family: inherit;
  font-size: 2rem;
}

.scroll-btn:link, .scroll-btn:visited {
  position: absolute;
  height: 5rem;
  width: 3rem;
  border: 2px solid #ffffff;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 3rem;
  border-radius: 3rem;
  text-decoration: none;
}

.scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 0.9rem;
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: move-down 1.5s infinite;
}

@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(2.2rem);
    opacity: 0;
  }
}

/*About me*/
.section {
  padding: 10rem;
  max-width: 140rem;
  margin: 0 auto;
  transition: transform 1s, opacity 1s;
}

.section .title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Poppins';
  margin-bottom: 1rem;
}

.section h2 {
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Poppins';
  margin-bottom: 7rem;
}

.section .section-content .img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.section .section-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.section .section-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 5rem;
}

.section .section-content .details .btn,
.btn {
  background-color: var(--primary-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

.section .section-content .details .btn:hover,
.btn:hover {
  background-color: var(--primary-bg-color);
}

.section .section-content .details h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 800;
  margin-bottom: 3rem;
  line-height: 1;
}

.section .section-content .details p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.section .section-content .details h3 span,
.section .section-content .details p span {
  color: var(--primary-color);
}

.section .section-content .details .infos {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.section .section-content .details .infos span {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.section .section-content .details .infos span a:link,
.section .section-content .details .infos span a:visited {
  text-decoration: none;
  color: inherit;
}

.section .section-content .details .infos .icon {
  height: 2.5rem;
  color: var(--primary-color);
}


/*skills*/
.bg-color {
  background-color: #F9F9F9;
}

.section .section-content-skills {
  text-align: center;
}

.section .section-content-skills span {
  cursor: pointer;

}

.section .section-content-skills span:hover img {
  transform: translateY(-10px);
}

.section .section-content-skills span img {
  height: 12rem;
  transition: transform 0.3s ease;

}

.section .section-content-skills span p {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 600;
}

.section .section-content-skills .skills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 4rem;
}


.section .section-content-skills .skills h2,
.section .section-content-skills .skills-02 h2,
.section .section-content-skills .skills-01 h2 {
  position: relative;
  grid-column: 1/-1;
}

.section .section-content-skills .skills-02 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
}

.section .section-content-skills .skills-01 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.section .section-content-skills .skills-02 h2,
.section .section-content-skills .skills-01 h2,
body>section.bg-color>div>div>div:nth-child(3)>h2 {
  margin-top: 7rem;
}

.section .section-content-skills .skills h2,
.section .section-content-skills .skills-02 h2,
.section .section-content-skills .skills-01 h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  color: inherit;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 15rem max-content 15rem;
  grid-template-rows: 2.7rem 0;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

}

.section .section-content-skills .skills h2::after,
.section .section-content-skills .skills h2::before,
.section .section-content-skills .skills-02 h2::after,
.section .section-content-skills .skills-02 h2::before,
.section .section-content-skills .skills-01 h2::after,
.section .section-content-skills .skills-01 h2::before {
  content: " ";
  display: block;
  border-bottom: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-bg-color);
  height: 5px;
  background-color: #f8f8f8;
}